<!-- http://jinja.pocoo.org/docs/2.10/templates/#escaping -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}">

<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.3.4.min.css"
    rel="stylesheet" type="text/css">

<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.3.4.min.js"></script>

    </head>

    <body>
        <div class="topnav">
        <a class="active" href="/">XoM</a>
        <a href="#news">Configuration</a>
        <a href="#about">About</a>
        </div>

	<h3 style="background-color:LightGrey;">Variables selection</h3>

        <form action="/">
	<select name="variable">
		{% for v in variable_names %}
			{% if v == current_variable %}
				<option selected value="{{ v }}">{{ v }}</option> 
			{% else %} 
				<option value="{{ v }}">{{ v }}</option> 
			{% endif %}
		{% endfor %}
	</select>
	<select name="version">
		{% for vs in version_names %}
			{% if vs == current_version %}
				<option selected value="{{ vs }}">{{ vs }}</option> 
			{% else %} 
				<option value="{{ vs }}">{{ vs }}</option> 
			{% endif %}
		{% endfor %}
	</select>
	<input type="submit">
	</form>
	
	<h3> Variable: {{ current_variable }}, version: {{ current_version }}</h3>
	<br>
	
	{{ script|safe }}
	{{ div|safe }}
    <script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      $(document).ready(function(){
        $('#calculate').on('click', function(e){
          // prevent page being reset, we are going to update only
          // one part of the page.
          e.preventDefault()
          $.ajax({
            url:'./_get_plot',
            type:'post',
            data:{'variable':$("#variable").val(),
                  'version':$("#version").val()},
            success : function(data){
              // server returns rendered "update_content.html"
              // which is just pure html, use this to replace the existing
              // html within the "plot content" div
              $('#plot-content').html(data)
            }
          })
        });
      });
    </script>

	<form action="/">
        <select name="variable2">
                {% for v2 in variable_names %}
                        {% if v2 == current_variable2 %}
                                <option selected value="{{ v2 }}">{{ v2 }}</option>
                        {% else %}
                                <option value="{{ v2 }}">{{ v2 }}</option>
                        {% endif %}
                {% endfor %}
        </select>
        <select name="version2">
                {% for vs2 in version_names %}
                        {% if vs2 == current_version2 %}
                                <option selected value="{{ vs2 }}">{{ vs2 }}</option>
                        {% else %}
                                <option value="{{ vs2 }}">{{ vs2 }}</option>
                        {% endif %}
                {% endfor %}
        </select>
        <input type="submit">
        </form>

        <h3> Variable: {{ current_variable2 }}, version: {{ current_version2 }}</h3>
        <br>

        {{ script2|safe }}
        {{ div2|safe }}

	<br>
	<form action="/">
        <select name="variable3">
                {% for v in variable_names %}
                        {% if v == current_variable3 %}
                                <option selected value="{{ v }}">{{ v }}</option>
                        {% else %}
                                <option value="{{ v }}">{{ v }}</option>
                        {% endif %}
                {% endfor %}
        </select>
        <select name="version3">
                {% for vs in version_names %}
                        {% if vs == current_version3 %}
                                <option selected value="{{ vs }}">{{ vs }}</option>
                        {% else %}
                                <option value="{{ vs }}">{{ vs }}</option>
                        {% endif %}
                {% endfor %}
        </select>
        <input type="submit">
        </form>

        <h3> Variable: {{ current_variable3 }}, version: {{ current_version3 }}</h3>
        <br>

        {{ script3|safe }}
        {{ div3|safe }}

    </body>

</html>
