<style>
/* This stylesheet sets the width of all images to 100%: */
img {
  width: 100%;
}

.welcom {
text-align: center;
font-family : Avenir Black
}

</style>
<title>Page Title</title>
<img src="{{url_for('static', filename='pictures/bandeau_head.png')}}" align="middle" />
</head>
<body>

  <div class="welcom">
    <h3>Test version of the XOM </h3>
<!--  <a href="{{ url_for('main.index') }}"> <h2>Home </h2></a> -->
  {% if current_user.is_anonymous %}
  <a href="{{ url_for('main.login') }}"> <h2>Login </h2></a>
  {% else %}
  <a href="{{ url_for('main.logout') }}"><h2>Logout </h2></a>
  <a href="{{ url_for('main_bp.home') }}"><h2>Monitoring page </h2></a>
  {% endif %}

 {% block content %} 
  {% endblock %}

</div>
</body>
</html>

