<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Xenon Offline Monitoring</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>


<body>
  
  <div class="navbar">
    <div class="container">
      
      <div class="logodiv">
        <img class="logoim" src="{{url_for('static', filename='pictures/xenonlogo.svg')}}" align="middle" />
	<a class="logo" href="{{ url_for('main.index') }}"> <span>X</span>enon <span>O</span>ffline <span>M</span>onitoring </a>
      </div><!--logo div-->
      {% if current_user.is_anonymous == False %}
      
      <nav class="navlink">
        <ul>
          <li><a href="{{ url_for('main_bp.home') }}">
              <img src="{{url_for('static', filename='pictures/appbutton.svg')}}" align="middle" />
          </a></li>
          <li><a href="/dash/app5/">
              <img src="{{url_for('static', filename='pictures/quickviewbutton.svg')}}" align="middle" />
          </a></li>
          <li><a href="{{ url_for('main.logout') }}">
              <img src="{{url_for('static', filename='pictures/logoutbutton.svg')}}" align="middle" />
          </a></li>
        </ul>
      </nav> <!--nav bar-->
  {% else %}
  <div class="loginrequest">
    <a href="{{ url_for('main.login') }}"> <h1>Please Login </h1></a>

    {% endif %}
  </div>
  <div class="loggedin">
      {% block content %}
      {% endblock %}
  </div>
      
    </div>
  </div>
  
</body>
</html>

