{% extends "base.html" %}

{% block content %}
<div id="wrapper">
  <div id="banner">
    <div class="container">
      <div class="title">
        <h2>Calibration Data</h2>
      </div>
    </div>
  </div>
</div>
<div id="extra">
<div class="container">
  <h2>Select data to view:</h2><p>
  <left><h3><a href='/calib?view=all' class='button'>All Data</a></h3><h3><a href='/calib?view=good' class='button'>Good Data</a></h3><h3><a href='/calib?view=bad' class='button'>Bad Data</a></h3>
  </left>
  </p>
  <center>
  {% if view_data != 'None' %}
  <h4>Currently viewing: {{view_data}}</h4>
  {% else %}
  <h4>Please select type of data!</h4>
  {% endif %}
  <h2>Select a source: </h2>
  <ul>
    <li><a href='/calib?source=Rn' class='button'>Radon</a></li>
    <li><a href='/calib?source=Kr' class='button'>Krypton</a></li>
    <li><a href='/calib?source=NG' class='button'>Neutron Gun</a></li>
  </ul>
{% if source_type == 'None' %}
  <h2>Please select a source!</h2>
{% else %}
  {% if source_type == 'Kr' %}
  <h3> Select an observable from the following: </h3>
    <ul>
      {# '/calib?source=Kr&data=electron+lifetime+[us]' #}

      <li><a href="{{ url_for('calib', source=source_type, data='electron+lifetime+[us]')}}" class='button'>Electron Lifetime</a></li>
      <li><a href="{{ url_for('calib', source=source_type, data='light_yield')}}" class='button'>Light Yield</a></li>
      <li><a href="{{ url_for('calib', source=source_type, data='charge_yield')}}" class='button'>Charge Yield</a></li>
    </ul>
  {% endif %}

  <h2>Source selected: {{source_type}}</h2>

</center>
<center><h1>Data: {{data_type}}</h1></center>
  {% if data_flag == True %}
  <center>

    {% if ly_data != []%}

    {% endif %}

    <canvas id="canvas" width="900" height="600"></canvas>

    <script>
        var timeFormat = 'YYYY-MM-DD HH:MM:SS';
        Chart.defaults.global.animationSteps = 50;
        Chart.defaults.global.tooltipYPadding = 16;
        Chart.defaults.global.tooltipCornerRadius = 0;
        Chart.defaults.global.tooltipTitleFontStyle = "normal";
        Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
        Chart.defaults.global.animationEasing = "easeOutBounce";
        Chart.defaults.global.responsive = false;
        Chart.defaults.global.scaleLineColor = "black";
        Chart.defaults.global.scaleFontSize = 16;
        // Chart.defaults.global.defaultFontSize = 24;

        var config = {

            type:    'line',
            data:    {
              labels: [
                {% for entry in ly_data%}
                (new Date(moment("{{ entry['charge_yield']['time'] }}"))),
                {% endfor %}
              ],
                datasets: [
                    {
                        data: [
                          {% for entry in ly_data%}
                          {{entry['charge_yield']['values']}},
                          {% endfor %}
                            ],
                            chi2: [
                              {% for entry in ly_data %}

                              {{(entry['charge_yield']['chi2'])/1}},


                              {%endfor%}
                            ],
                            run_no: [
                              {% for entry in ly_data%}
                              {{entry['charge_yield']['run_number']}},
                              {% endfor %}
                            ],
                            new_bad: [
                            ],
                            fill: false,
                            fillColor: "rgba(0,0,0,0)",
                            strokeColor: "rgba(151,187,205,0)",
                            pointColor: "rgba(151,187,205,1)",
                            pointHitRadius: 0.2,
                            borderColor: "rgba(0,0,0,0)",
                            borderDash: [5,5],
                            lineTension: 0,
                            pointBackgroundColor: [
                              {% for entry in ly_data%}
                              "rgba(255,0,0,1)",
                              {% endfor %}
                            ],
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(151,187,205,1)",
                            bezierCurve : false,
                    }
                ]
            },
            options: {
                onClick: function(evt, activeElements) {
                    var elementIndex = activeElements[0]._index;
                    var badRun = this.data.datasets[0].run_no[elementIndex];
                    if (this.data.datasets[0].pointBackgroundColor[elementIndex] == "rgba(255,0,0,1)") {
                      document.getElementById("badRuns").innerHTML = document.getElementById("badRuns").innerHTML + ',' + badRun;
                      this.data.datasets[0].pointBackgroundColor[elementIndex] = "black";
                    } else {
                      document.getElementById("badRuns").innerHTML = document.getElementById("badRuns").innerHTML -','- badRun;
                      this.data.datasets[0].pointBackgroundColor[elementIndex] = "rgba(255,0,0,1)";
                    }




                    this.update();
                },
                tooltips: {
                    callbacks: {
                      label: function(t, d){
                        return [('Value:' + Math.round(d.datasets[0].data[t.index]*1000)/1000), ('Chi2/ndof:' + (Math.round(d.datasets[0].chi2[t.index]*1000)/1000)), ('Run no:' + d.datasets[0].run_no[t.index])];
                      }
                    }
                },
                showLines: false,
                responsive: true,
                scales:     {
                    xAxes: [{
                        time:       {
                            format: timeFormat,
                            tooltipFormat: 'll'
                        },
                        scaleLabel: {
                            display:     true,
                            labelString: 'Date and Time'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display:     true,
                            labelString: '{{data}}'
                        }
                    }]
                }
            }
        };

        window.onload = function () {
            var ctx       = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };

    </script>
  </center>
<center>
  <p id="badRuns">Bad run numbers: </p>

<a href="{{ url_for('calib', source=source_type, data=data_type, bad=new_bad_runs)}}" class='button'>Mark as bad</a>
<div id="downlButton">
  <a href="/download" class="downlButton">Download Data as CSV</a>
</div>
</center>
{% else %}
Requested data was not found!
{% endif %}
{% endif %}
</div></div>
{% endblock %}
