<!doctype html>

<html lang="en">
{% extends "base.html" %}

{% block content %}
<div id="wrapper">
  <div id="banner">
    <div class="container">
      <div class="title">
        <h2>Calibration data</h2>
      </div>
    </div>
  </div>
</div>

<!--<head>
  <meta charset="utf-8">
  <title>Embedding a Bokeh Server With {{ framework }}</title>
</head> !-->

<body>
  <div>
    <h3> <font color="red">    Choose the source and the type of data you want to plot. The time range is located below the plot. </font> </h3>
  </div>
  {{ script|safe }}
</body>
</html>
{% endblock %}
